[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
